<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Box.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Box.Properties.Settings>
            <setting name="Player_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Sulfur_Node_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Corn_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Mushroom_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plants_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Hemp_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Wood_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Rock_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Horse_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Sulfur_Ore_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Deer_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_AutoTurret_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Metal_Ore_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Metal_Node_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Bear_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Pumpkin_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Boar_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_TC_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Large_Furnace_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Furnace_Radar_heck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Sleeping_Bag_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Quarry_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Landmine_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Wolf_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Enemy_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Chicken_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Bear_Trap_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Stone_Node_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Box_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Sleeping_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Stash_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Fridge_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Large_Box_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Crosshair_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Friend_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Oil_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resources_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployables" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Corpse_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Loot_Corpse_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Radar_Zoom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FOV" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Server_PORT" serializeAs="String">
                <value>28015</value>
            </setting>
            <setting name="Server_IP" serializeAs="String">
                <value>12.198.385.254</value>
            </setting>
            <setting name="Resource_Wood_Radar_Color" serializeAs="String">
                <value>Tan</value>
            </setting>
            <setting name="Misc_Corpse_Radar_Color" serializeAs="String">
                <value>SlateGray</value>
            </setting>
            <setting name="Resource_Rock_Radar_Color" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Deployable_Sleeping_Bag_Radar_Color" serializeAs="String">
                <value>Sienna</value>
            </setting>
            <setting name="Plant_Hemp_Radar_Color" serializeAs="String">
                <value>SeaGreen</value>
            </setting>
            <setting name="Animals_Bear_Radar_Color" serializeAs="String">
                <value>SaddleBrown</value>
            </setting>
            <setting name="Animals_Boar_Radar_Color" serializeAs="String">
                <value>RosyBrown</value>
            </setting>
            <setting name="Player_Enemy_Radar_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Deployable_Bear_Trap_Radar_Color" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="Deployable_Large_Box_Radar_Color" serializeAs="String">
                <value>Peru</value>
            </setting>
            <setting name="Animals_Deer_Radar_Color" serializeAs="String">
                <value>Peru</value>
            </setting>
            <setting name="Plant_Pumpkin_Radar_Color" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="Animals_Horse_Radar_Color" serializeAs="String">
                <value>Olive</value>
            </setting>
            <setting name="Resource_Stone_Node_Radar_Color" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="Deployable_AutoTurret_Radar_Color" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Deployable_TC_Radar_Color" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Deployable_Quarry_Radar_Color" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="Deployable_Landmine_Radar_Color" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="Player_Friend_Radar_Color" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Resource_Sulfur_Node_Radar_Color" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="Resource_Sulfur_Ore_Radar_Color" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="Player_Loot_Corpse_Radar_Color" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="Animals_Wolf_Radar_Color" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="Resource_Metal_Ore_Radar_Color" serializeAs="String">
                <value>DarkSlateBlue</value>
            </setting>
            <setting name="Resource_Metal_Node_Radar_Color" serializeAs="String">
                <value>DarkSlateBlue</value>
            </setting>
            <setting name="Deployable_Furnace_Radar_Color" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Deployable_Large_Furnace_Radar_Color" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Deployable_Stash_Radar_Color" serializeAs="String">
                <value>DarkGoldenrod</value>
            </setting>
            <setting name="Animals_Chicken_Radar_Color" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="Deployable_Box_Radar_Color" serializeAs="String">
                <value>Chocolate</value>
            </setting>
            <setting name="Plant_Mushroom_Radar_Color" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="Deployable_Oil_Radar_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Deployable_Fridge_Radar_Color" serializeAs="String">
                <value>Aquamarine</value>
            </setting>
            <setting name="Player_Sleeping_Radar_Color" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="Plant_Corn_Radar_Color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Barrel_Loot_Barrel_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Oil_Barrel_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Trash_Pile_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Crate_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Mine_Crate_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Food_Crate_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Med_Crate_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Tool_Crate_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Food_Box_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Loot_Barrel_Radar_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Oil_Barrel_Radar_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Trash_Pile_Radar_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Crate_Radar_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Mine_Crate_Radar_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Food_Crate_Radar_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Med_Crate_Radar_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Tool_Crate_Radar_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Food_Box_Radar_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Player_Awake_Radar_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Player_Awake_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZoomAmount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player_Sprinting_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Sprinting_Radar_Color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Player_Held_Item_Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Aiming_Radar_Color" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Player_Aiming_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Helicopter_Radar_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Misc_Helicopter_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Inventory_Belt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Inventory_Wear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Crouching_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Crouching_Radar_Color" serializeAs="String">
                <value>MediumBlue</value>
            </setting>
            <setting name="Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Crosshair_Type" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Crosshair_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Crosshair_Thick" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Crosshair_Size" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Misc_Supply_Drop_Radar_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Supply_Drop_Radar_Color" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="Misc_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Helicopter_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Helicopter_Tracer_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Misc_Helicopter_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Helicopter_Box_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Player_Awake_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Sleeping_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Aiming_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Sprinting_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Crouching_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Friend_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Enemy_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Loot_Corpse_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Awake_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Sleeping_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Aiming_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Crouching_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Friend_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Enemy_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Loot_Corpse_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player_Awake_Tracer_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Player_Sleeping_Tracer_Color" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="Player_Aiming_Tracer_Color" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Player_Sprinting_Tracer_Color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Player_Crouching_Tracer_Color" serializeAs="String">
                <value>MediumBlue</value>
            </setting>
            <setting name="Player_Friend_Tracer_Color" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Player_Enemy_Tracer_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Player_Loot_Corpse_Tracer_Color" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="Player_Awake_Box_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Player_Sleeping_Box_Color" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="Player_Aiming_Box_Color" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Player_Sprinting_Box_Color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Player_Crouching_Box_Color" serializeAs="String">
                <value>MediumBlue</value>
            </setting>
            <setting name="Player_Friend_Box_Color" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Player_Enemy_Box_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Player_Loot_Corpse_Box_Color" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="Player_Sprinting_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Corpse_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Corpse_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Supply_Drop_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Supply_Drop_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Misc_Corpse_Tracer_Color" serializeAs="String">
                <value>SlateGray</value>
            </setting>
            <setting name="Misc_Corpse_Box_Color" serializeAs="String">
                <value>SlateGray</value>
            </setting>
            <setting name="Misc_Supply_Drop_Tracer_Color" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="Misc_Supply_Drop_Box_Color" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Wolf_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Bear_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Deer_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Chicken_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Boar_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Horse_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Wolf_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Bear_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Deer_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Chicken_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Boar_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Horse_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Animals_Wolf_Tracer_Color" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="Animals_Bear_Tracer_Color" serializeAs="String">
                <value>SaddleBrown</value>
            </setting>
            <setting name="Animals_Deer_Tracer_Color" serializeAs="String">
                <value>Peru</value>
            </setting>
            <setting name="Animals_Chicken_Tracer_Color" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="Animals_Boar_Tracer_Color" serializeAs="String">
                <value>RosyBrown</value>
            </setting>
            <setting name="Animals_Horse_Tracer_Color" serializeAs="String">
                <value>Olive</value>
            </setting>
            <setting name="Animals_Wolf_Box_Color" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="Animals_Bear_Box_Color" serializeAs="String">
                <value>SaddleBrown</value>
            </setting>
            <setting name="Animals_Deer_Box_Color" serializeAs="String">
                <value>Peru</value>
            </setting>
            <setting name="Animals_Chicken_Box_Color" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="Animals_Boar_Box_Color" serializeAs="String">
                <value>RosyBrown</value>
            </setting>
            <setting name="Animals_Horse_Box_Color" serializeAs="String">
                <value>Olive</value>
            </setting>
            <setting name="Deployable_Quarry_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_TC_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Sleeping_Bag_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_AutoTurret_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Furnace_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Large_Furnace_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Fridge_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Oil_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Landmine_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Bear_Trap_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Stash_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Box_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Large_Box_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Quarry_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_TC_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Sleeping_Bag_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_AutoTurret_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Furnace_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Large_Furnace_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Fridge_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Oil_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Landmine_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Bear_Trap_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Stash_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Box_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Large_Box_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deployable_Quarry_Tracer_Color" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="Deployable_TC_Tracer_Color" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Deployable_Sleeping_Bag_Tracer_Color" serializeAs="String">
                <value>Sienna</value>
            </setting>
            <setting name="Deployable_AutoTurret_Tracer_Color" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Deployable_Furnace_Tracer_Color" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Deployable_Large_Furnace_Tracer_Color" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Deployable_Fridge_Tracer_Color" serializeAs="String">
                <value>Aquamarine</value>
            </setting>
            <setting name="Deployable_Oil_Tracer_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Deployable_Landmine_Tracer_Color" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="Deployable_Bear_Trap_Tracer_Color" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="Deployable_Stash_Tracer_Color" serializeAs="String">
                <value>DarkGoldenrod</value>
            </setting>
            <setting name="Deployable_Box_Tracer_Color" serializeAs="String">
                <value>Chocolate</value>
            </setting>
            <setting name="Deployable_Large_Box_Tracer_Color" serializeAs="String">
                <value>Peru</value>
            </setting>
            <setting name="Deployable_Quarry_Box_Color" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="Deployable_TC_Box_Color" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Deployable_Sleeping_Bag_Box_Color" serializeAs="String">
                <value>Sienna</value>
            </setting>
            <setting name="Deployable_AutoTurret_Box_Color" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Deployable_Furnace_Box_Color" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Deployable_Large_Furnace_Box_Color" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Deployable_Fridge_Box_Color" serializeAs="String">
                <value>Aquamarine</value>
            </setting>
            <setting name="Deployable_Oil_Box_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Deployable_Landmine_Box_Color" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="Deployable_Bear_Trap_Box_Color" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="Deployable_Stash_Box_Color" serializeAs="String">
                <value>DarkGoldenrod</value>
            </setting>
            <setting name="Deployable_Box_Box_Color" serializeAs="String">
                <value>Chocolate</value>
            </setting>
            <setting name="Deployable_Large_Box_Box_Color" serializeAs="String">
                <value>Peru</value>
            </setting>
            <setting name="Plant_Mushroom_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Hemp_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Pumpkin_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Corn_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Mushroom_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Hemp_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Pumpkin_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Corn_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plant_Mushroom_Tracer_Color" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="Plant_Hemp_Tracer_Color" serializeAs="String">
                <value>SeaGreen</value>
            </setting>
            <setting name="Plant_Pumpkin_Tracer_Color" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="Plant_Corn_Tracer_Color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Plant_Mushroom_Box_Color" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="Plant_Hemp_Box_Color" serializeAs="String">
                <value>SeaGreen</value>
            </setting>
            <setting name="Plant_Pumpkin_Box_Color" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="Plant_Corn_Box_Color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Resource_Rock_Collectable_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Wood_Collectable_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Sulfur_Collectable_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Metal_Collectable_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Sulfur_Node_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Metal_Node_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Stone_Node_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Rock_Collectable_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Wood_Collectable_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Sulfur_Collectable_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Metal_Collectable_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Sulfur_Node_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Metal_Node_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Stone_Node_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resource_Rock_Collectable_Tracer_Color" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Resource_Wood_Collectable_Tracer_Color" serializeAs="String">
                <value>Tan</value>
            </setting>
            <setting name="Resource_Sulfur_Collectable_Tracer_Color" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="Resource_Metal_Collectable_Tracer_Color" serializeAs="String">
                <value>DarkSlateBlue</value>
            </setting>
            <setting name="Resource_Sulfur_Node_Tracer_Color" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="Resource_Metal_Node_Tracer_Color" serializeAs="String">
                <value>DarkSlateBlue</value>
            </setting>
            <setting name="Resource_Stone_Node_Tracer_Color" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="Resource_Rock_Collectable_Box_Color" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Resource_Wood_Collectable_Box_Color" serializeAs="String">
                <value>Tan</value>
            </setting>
            <setting name="Resource_Sulfur_Collectable_Box_Color" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="Resource_Metal_Collectable_Box_Color" serializeAs="String">
                <value>DarkSlateBlue</value>
            </setting>
            <setting name="Resource_Sulfur_Node_Box_Color" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="Resource_Metal_Node_Box_Color" serializeAs="String">
                <value>DarkSlateBlue</value>
            </setting>
            <setting name="Resource_Stone_Node_Box_Color" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="Barrel_Loot_Barrel_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Oil_Barrel_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Trash_Pile_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Crate_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Mine_Crate_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Food_Crate_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Med_Crate_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Tool_Crate_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Food_Box_Tracer_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Loot_Barrel_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Oil_Barrel_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Trash_Pile_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Crate_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Mine_Crate_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Food_Crate_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Med_Crate_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Tool_Crate_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Food_Box_Box_Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Barrel_Loot_Barrel_Tracer_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Oil_Barrel_Tracer_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Trash_Pile_Tracer_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Crate_Tracer_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Mine_Crate_Tracer_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Food_Crate_Tracer_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Med_Crate_Tracer_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Tool_Crate_Tracer_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Food_Box_Tracer_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Loot_Barrel_Box_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Oil_Barrel_Box_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Trash_Pile_Box_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Crate_Box_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Mine_Crate_Box_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Food_Crate_Box_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Med_Crate_Box_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Tool_Crate_Box_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Barrel_Food_Box_Box_Color" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="MaxDistance" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Temp" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Temp1" serializeAs="String">
                <value>0.5</value>
            </setting>
        </Box.Properties.Settings>
    </userSettings>
</configuration>